# Client-only files
.fabric/
crash-reports/
data/
downloads/
localconfigs/
logs/
ModTranslations/
saves/
schematics/
shaderpacks/
Xaero*/

*.zip
*.json
*.html
*.txt
*.curseclient

# configs that change every time the game launches (updates the date)
# config/roughlyenoughitems/*
# config/fabric/indigo-renderer.properties
# config/indium-renderer.properties
# config/iris.properties
# config/vcinteraction/vcinteraction.properties